#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}



.read-the-docs {
  color: #888;
}

@keyframes fadeBackground {
  0%, 100% { background-image: url('/c2.jpg'); }
  33% { background-image: url('/c3.jpg'); }
  66% { background-image: url('/c4.jpg'); }
}


body{
  animation: fadeBackground 12s infinite;
  background-size: cover;
  background-position: center;
  /* background: pink; */
}

.divIMAGE {
  background-image: url('/c6.png'); /* Path to your image */
  background-size: cover;         /* Adjusts image size to cover the entire div */
  background-repeat: no-repeat;   /* Prevents the image from repeating */
  background-position: center;
  
  /* transform: translateX(7rem);    Centers the image within the div */
  width: 300px;                   /* Set the desired width of the div */
  height: 300px;                  /* Set the desired height of the div */
}
.center-container {
  display: flex;                  /* Enable flexbox */
  justify-content: center;        /* Center horizontally */
  align-items: center;            /* Center vertically */
  height: 100vh;                  /* Make the parent take full viewport height */
}
.HIIHII{
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
    .PIPI{
      display: flex;
      transform: scale(0.7);
      align-items: center;
    
    }
    .BUTT{
      position: absolute;
      top: -5rem;
    }
  }